::ng-deep.mat-drawer {
  width: 240px !important;
}

::ng-deep.mat-drawer-content {
  height: 45rem !important;
  background-color: aquamarine;
}
.heading-sec {
  padding: 15px;
  display: flex;
  /* padding-left: 5px; */
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
.main-head {
  display: flex;
  align-items: center;
  gap: 18px;
}
.menu-list-sec {
  padding: 15px;
}
.menu-list {
  display: flex;
  align-items: center;
  padding: 10px 0px 10px 0px;
  gap: 18px;
}
