.otp-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00b4cc;
  height: 100%;
}
.otp-card {
  width: 380px;
  padding: 30px;
  background-color: #fcfcff;
  border-radius: 10px;
}
.btn-sec {
  display: flex;
  justify-content: center;
}
.mat-btn {
  padding: 22px !important;
  width: 50%;
  border-radius: 14px !important;
  background: #24bcff !important;
  color: white !important;
}
::ng-deep .mat-mdc-form-field {
  width: 100%;
}
.head-sec {
  padding-bottom: 30px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}
::ng-deep
  .mat-mdc-text-field-wrapper.mdc-text-field--outlined
  .mat-mdc-form-field-infix {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

::ng-deep .mat-mdc-form-field-infix {
  min-height: 45px !important;
}
::ng-deep .mdc-floating-label {
  padding-bottom: 10px;
}
.text-sec {
  text-align: center;
  text-wrap: wrap;
  padding-bottom: 30px;
}
.image-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}
.input-boxes {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-direction: row;
  padding-bottom: 30px;
}
.input-boxes-sec {
  padding: 10px;
  border-bottom: 1px black solid;
}
.input-field {
  display: none;
}
.otp-input:focus {
  outline: none; /* Removes the default focus outline */
  box-shadow: none; /* Removes any box shadow, if present */
}
input {
  width: 10px;
  border: none;
  outline: none; /* Removes the default focus outline */
  box-shadow: none;
}
