<div class="otp-page">
  <div class="otp-card">
    <div class="head-sec">
      <span>Verify OTP</span>
    </div>
    <!-- <div class="head-sec">
      <span>Verify OTP</span>
    </div> -->
    <div class="image-sec">
      <img src="/assets/images/otp_verify.png" style="width: 150px" />
    </div>
    <div class="text-sec">
      <span style="font-size: 20px; font-weight: 500">VerificationCode</span>
    </div>
    <div class="text-sec">
      <span
        >We have sent a verification code<br />
        to your email id</span
      >
    </div>

    <form
      class="example-form form-sec"
      [formGroup]="profileForm"
      (ngSubmit)="onSubmit(profileForm.value)"
    >
      <div class="input-boxes">
        <div
          class="input-boxes-sec otp-input"
          *ngFor="let input of formInput; index as i"
        >
          <input
            size="10"
            #formRow
            type="text"
            formControlName="{{ input }}"
            class="form-control"
            maxlength="1"
            (keyup)="keyUpEvent($event, i)"
          />
        </div>
      </div>
      <div class="btn-sec">
        <button
          class="mat-btn"
          type="submit"
          [disabled]="!profileForm.valid"
          mat-raised-button
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
