<div class="chat-page">
  <div class="chat-list">
    <div class="heading">
      <span class="message-head">Messages</span>
      <span class="material-symbols-outlined"> edit_square </span>
    </div>
    <div class="search-box">
      <span>Search</span>
      <span class="material-symbols-outlined"> search </span>
    </div>
    <div class="chat-persons-list">
      <div class="each-sec" *ngFor="let items of chatList">
        <div class="first-sec">
          <div class="profile-image"></div>
          <div class="name-sec">
            <span style="font-weight: 600">name</span> <span>sub name</span>
          </div>
        </div>

        <div class="time">
          <span style="font-weight: 600; color: white">11:23</span>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-specific">
    <div class="specific-chat-header">
      <div class="specific-profile-sec">
        <div class="specific-image"></div>
        <div class="name-heading-sec">
          <span class="main-name">Ashina CK</span>
          <span class="status">Active</span>
        </div>
      </div>
      <div class="actions-sections">
        <span class="material-symbols-outlined"> videocam </span>
        <span class="material-symbols-outlined"> call </span>

        <span class="material-symbols-outlined"> close </span>
      </div>
    </div>
    <div class="message-sec">
      <div class="message-post-sec">
        <div class="typing-sec">write message</div>

        <div class="message-btn">
          <span class="material-symbols-outlined"> send </span>
        </div>
      </div>
    </div>
  </div>
</div>
