<div class="main-content">
  <div class="sub-content">
    <div class="login">
      <div class="text-sec">
        <span class="header-text">Welcome Back!</span>
        <span class="para-text"
          >To Keep connected with us please login with your personal
          information</span
        >
      </div>
      <div class="login-fields">
        <form
          class="example-form form-sec"
          [formGroup]="profileForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="first-sec">
            <span class="login-text">Login</span>
            <span>Sign in to your account</span>
          </div>
          <div class="second-sec">
            <!-- <form
            class="example-form form-sec"
            [formGroup]="profileForm"
            (ngSubmit)="onSubmit()"
          > -->
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Username</mat-label>
              <input
                matInput
                placeholder="Username"
                formControlName="username"
                required=""
              />
              <span class="material-symbols-outlined" matSuffix> person </span>
              <mat-error *ngIf="profileForm.get('username')?.touched"
                >Username is required</mat-error
              >
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input
                matInput
                placeholder="Password"
                class="form-control"
                formControlName="password"
                required=""
              />
              <span class="material-symbols-outlined" matSuffix> lock </span>
              <mat-error *ngIf="profileForm.get('password')?.touched"
                >Password is required</mat-error
              >
              <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
            <!-- </form> -->
            <div class="form-text">
              <span>Remember me</span>
              <span>Forgot Password ?</span>
            </div>
          </div>
          <div class="third-sec">
            <button type="submit" mat-raised-button>Basic</button>
            <span
              >Don't have an account ?
              <span (click)="openSignUpPage()"> Sign up</span>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
