<div class="main-content">
  <div class="sub-content">
    <div class="login">
      <div class="text-sec">
        <span class="header-text">Welcome Back!</span>
        <span class="para-text"
          >To Keep connected with us please login with your personal
          information</span
        >
      </div>
      <div class="login-fields">
        <div class="first-sec">
          <span class="login-text">Login</span>
          <span>Sign in to your account</span>
        </div>
        <div class="second-sec">
          <form class="example-form form-sec">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Favorite food</mat-label>
              <input matInput placeholder="Ex. Pizza" value="Sushi" />
              <span class="material-symbols-outlined" matSuffix> person </span>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Leave a comment</mat-label>
              <input matInput placeholder="Ex. It makes me feel..." />
              <span class="material-symbols-outlined" matSuffix> lock </span>
            </mat-form-field>
          </form>
          <div class="form-text">
            <span>Remember me</span>
            <span>Forgot Password ?</span>
          </div>
        </div>
        <div class="third-sec">
          <button mat-raised-button>Basic</button>
          <span>Don't have an account ? Sign up</span>
        </div>
      </div>
    </div>
  </div>
</div>
