<div class="main-register">
  <div class="background-img-sec">helo</div>
  <div class="register-sec">
    <div class="form-dt">
      <div class="header">
        <h1>Register Form</h1>
      </div>
      <form [formGroup]="profileForm" class="form-input">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Username</mat-label>
          <input
            matInput
            placeholder="Username"
            formControlName="username"
            required=""
          />
          <span class="material-symbols-outlined" matSuffix> person </span>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Username</mat-label>
          <input
            matInput
            placeholder="Username"
            formControlName="username"
            required=""
          />
          <span class="material-symbols-outlined" matSuffix> person </span>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Username</mat-label>
          <input
            matInput
            placeholder="Username"
            formControlName="username"
            required=""
          />
          <span class="material-symbols-outlined" matSuffix> person </span>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Username</mat-label>
          <input
            matInput
            placeholder="Username"
            formControlName="username"
            required=""
          />
          <span class="material-symbols-outlined" matSuffix> person </span>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Username</mat-label>
          <input
            matInput
            placeholder="Username"
            formControlName="username"
            required=""
          />
          <span class="material-symbols-outlined" matSuffix> person </span>
        </mat-form-field>
        <div class="btn">
          <button mat-raised-button class="submit-btn">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
