<div class="main-register">
  <div class="background-img-sec">helo</div>
  <div class="register-sec">
    <div class="form-dt">
      <div class="header">
        <h1>Register Form</h1>
      </div>
      <form [formGroup]="profileForm" class="form-input">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Name</mat-label>
          <input
            matInput
            placeholder="Name"
            formControlName="name"
            required=""
          />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Email"
            formControlName="email"
            required=""
          />
          <mat-hint *ngIf="profileForm.get('email')?.hasError('email')"
            >Invalid Email</mat-hint
          >
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Mobile Number</mat-label>
          <input
            matInput
            placeholder="Mobile Number"
            formControlName="mobileNO"
            required=""
          />
          <mat-hint *ngIf="profileForm.get('mobileNO')?.hasError('pattern')"
            >Invalid Mobile Number</mat-hint
          >
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            placeholder="Password"
            formControlName="password"
            required=""
          />
          <mat-icon
            matSuffix
            *ngIf="showPassword == false"
            (click)="showPasswordBtn()"
            >visibility</mat-icon
          >
          <mat-icon *ngIf="showPassword == true" matSuffix
            >visibility_off</mat-icon
          >

          <mat-hint
            *ngIf="profileForm.get('password')?.dirty && getPasswordError()"
          >
            {{ getPasswordError() }}
          </mat-hint>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            placeholder="Confirm Password"
            formControlName="confirmPassword"
            required=""
          />
          <mat-icon matSuffix>visibility</mat-icon>
          <mat-icon matSuffix>visibility_off</mat-icon>
          <mat-hint
            *ngIf="profileForm.get('confirmPassword')?.errors?.['confirmPasswordValidator']"
            >Password doesn't match</mat-hint
          >
        </mat-form-field>
        <div class="btn">
          <button mat-raised-button class="submit-btn">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
