<div class="main-register">
  <div class="background-img-sec">helo</div>
  <div class="register-sec">
    <div class="form-dt">
      <div class="header">
        <h1>Register Form</h1>
      </div>
      <form [formGroup]="profileForm" class="form-input">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Name</mat-label>
          <input
            matInput
            placeholder="Name"
            formControlName="name"
            required=""
          />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Email"
            formControlName="email"
            required=""
          />
          <mat-hint *ngIf="profileForm.get('email')?.hasError('email')"
            >Invalid Email</mat-hint
          >
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Mobile Number</mat-label>
          <input
            matInput
            placeholder="Mobile Number"
            formControlName="mobileNO"
            required=""
          />
          <mat-hint *ngIf="profileForm.get('mobileNO')?.hasError('pattern')"
            >Invalid Mobile Number</mat-hint
          >
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            placeholder="Password"
            formControlName="password"
            required=""
          />
          <!-- <mat-hint *ngIf="profileForm.get('password')?.hasError('pattern')"
            >Password must be at least 8 characters long.</mat-hint
          > -->
          <mat-hint
            *ngIf="
              profileForm.get('password')?.dirty &&
              !profileForm.get('password')?.value?.match('^(?=.*[A-Z])')
            "
            >>At least oneu ppercase</mat-hint
          >
          <mat-hint
            *ngIf="
              profileForm.get('password')?.dirty &&
              !profileForm.get('password')?.value?.match('(?=.*[!@#$%^&*])')
            "
            >>At least one special character</mat-hint
          >
          <mat-hint
            *ngIf="
              profileForm.get('password')?.dirty &&
              !profileForm.get('password')?.value?.match('(.*[0-9].*)')
            "
            >>At least one number</mat-hint
          >
          <mat-hint
            *ngIf="
              profileForm.get('password')?.dirty &&
              !profileForm.get('password')?.value?.match('(?=.*[a-z])')
            "
            >>At least one lowercase</mat-hint
          >
          <mat-hint
            *ngIf="
              profileForm.get('password')?.dirty &&
              !profileForm.get('password')?.value?.match('.{8,}')
            "
            >At least one lowercase</mat-hint
          >
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            placeholder="Confirm Password"
            formControlName="confirmPassword"
            required=""
          />
          <mat-hint
            *ngIf="profileForm.get('confirmPassword')?.errors?.['confirmPasswordValidator']"
            >Password doesn't match</mat-hint
          >
        </mat-form-field>
        <div class="btn">
          <button mat-raised-button class="submit-btn">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
